version: '3.8'

services:
  frontend:
    image: ${ECR_REGISTRY}/three-tier-frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    image: ${ECR_REGISTRY}/three-tier-backend:latest
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_DATABASE: schooldb
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - redis_data:/data

volumes:
  mysql_data:
  redis_data:
